h2 {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(18, 127, 244);
    color: rgb(205, 223, 84);
    font-family: "Comic Sans MS", cursive;
    font-size: 400%;
}

table thead {
    background-color: rgb(103, 103, 208);
    color: rgb(251, 251, 251);
    font-family: monospace;
    font-size: 200%;
    width: 40%;
}

table tbody td{
    background-color: gray;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 150%;
    width: 40%;
}